@charset "UTF-8";
*, ::after, ::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'AGLettericaBoldBold';
  src: url("../fonts/ag_letterica_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGSouvenir';
  src: url("../fonts/agsouvenir_regular.eot");
  src: local("☺"), url("../fonts/agsouvenir_regular/agsouvenir_regular.woff") format("woff"), url("../fonts/agsouvenir_regular/agsouvenir_regular.ttf") format("truetype"), url("../fonts/agsouvenir_regular/agsouvenir_regular.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'abighaustitulbrk_extrabold';
  src: url("../fonts/abighaustitulbrk_extrabold/abighaustitulbrk_extrabold.eot");
  src: local("☺"), url("../fonts/abighaustitulbrk_extrabold/abighaustitulbrk_extrabold.woff") format("woff"), url("../fonts/abighaustitulbrk_extrabold/abighaustitulbrk_extrabold.ttf") format("truetype"), url("../fonts/abighaustitulbrk_extrabold/abighaustitulbrk_extrabold.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGForeignerRomanMedium';
  src: url("../fonts/AGForeignerRomanMedium/AGForeignerRomanMedium.eot");
  src: local("☺"), url("../fonts/AGForeignerRomanMedium/AGForeignerRomanMedium.woff") format("woff"), url("../fonts/AGForeignerRomanMedium/AGForeignerRomanMedium.ttf") format("truetype"), url("../fonts/AGForeignerRomanMedium/AGForeignerRomanMedium.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ABodoniNovaNrItalic';
  src: url("../fonts/ABodoniNovaNrItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 400;
}

@font-face {
  font-family: 'a_CooperBlackNr';
  src: url("../fonts/a_CooperBlackNr/a_CooperBlackNr.eot") format("embedded-opentype"), url("../fonts/a_CooperBlackNr/a_CooperBlackNr.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'colaborate-regular';
  src: url("../fonts/colaborate-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ColabMed';
  src: url("../fonts/ColabMed.otf") format("opentype");
}

@font-face {
  font-family: 'ColabThi';
  src: url("../fonts/ColabThi.otf") format("opentype");
}

@font-face {
  font-family: 'AGBenguiatCyrBook';
  src: url("../fonts/AGBenguiatCyrBook.ttf") format("truetype");
}

@font-face {
  font-family: 'ag_letterica_bold';
  src: url("../fonts/ag_letterica_bold.ttf") format("truetype");
}

body {
  font-size: 16px;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

.grid {
  display: grid;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 992px;
  margin: 0 auto;
}

header {
  background-image: url(../img/bg-body.png);
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}

header .header-navbar .container {
  height: 125px;
  background-image: url(../img/bg-hd-top.png);
  background-repeat: no-repeat;
  justify-items: center;
}

header .header-navbar .container menu {
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  align-content: flex-start;
  justify-items: center;
  padding-left: 40px;
  padding-top: 20px;
}

header .header-navbar .container menu li {
  border-radius: 15px;
  padding: 5px 10px;
  font-family: AGSouvenir, sans-serif;
  font-size: 17px;
  list-style: none;
  cursor: pointer;
  transition: all .5s ease;
}

header .header-navbar .container menu li:hover {
  box-shadow: 0 0 10px #fff;
  background: #e1ecf2;
  color: #299fca;
}

header .header-navbar .container menu li:active {
  box-shadow: 0 0 4px black;
}

.hd-wrap {
  grid-template-columns: auto 374px;
}

.hd-wrap .header-baner {
  position: relative;
}

.hd-wrap .header-baner .baner-info {
  position: relative;
  font-family: abighaustitulbrk_extrabold, sans-serif;
  top: -245px;
  left: 210px;
  width: 300px;
}

.hd-wrap .header-baner .baner-info #text_slide1, .hd-wrap .header-baner .baner-info #text_slide2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  color: #127EA5;
  text-align: center;
}

.hd-wrap .header-baner .baner-info #text_slide1 h2, .hd-wrap .header-baner .baner-info #text_slide2 h2 {
  font-size: 51px;
}

.hd-wrap .header-baner .baner-info #text_slide1 p, .hd-wrap .header-baner .baner-info #text_slide2 p {
  font-family: a_CooperBlackNr,sans-serif;
  font-size: 25px;
  color: #DED90E;
}

.hd-wrap .header-baner a {
  z-index: 1;
}

.hd-wrap .header-baner a .slide-arrow {
  font-size: 42px;
  color: #137ea5;
  opacity: 0.3;
}

.hd-wrap .header-baner a .slide-arrow:hover {
  opacity: 0.5;
  text-shadow: 0 0 10px #5aa4c0;
}

.hd-wrap .header-baner a .slide-arrow:active {
  opacity: 0.6;
}

.hd-wrap .header-baner .slide-prev {
  position: absolute;
  bottom: 150px;
  left: 15px;
}

.hd-wrap .header-baner .slide-next {
  position: absolute;
  bottom: 130px;
  left: 70px;
}

.hd-wrap .header-form {
  position: relative;
  align-items: center;
  border: 6px solid #7EBEE0;
  border-radius: 20px;
  background: #299fca;
  margin-top: -40px;
  padding-top: 100px;
  width: 320px;
  justify-self: center;
}

.hd-wrap .header-form .decor-line {
  position: absolute;
  top: 25px;
  left: -20px;
  background-image: url(../img/online.png);
  width: 227px;
  height: 40px;
  text-align: center;
}

.hd-wrap .header-form .decor-line span {
  line-height: 40px;
  font-family: AGLettericaBoldBold, sans-serif;
  font-size: 21px;
  color: #ffffff;
}

.hd-wrap .header-form select + span {
  align-self: baseline !important;
}

.hd-wrap .header-form .headerForm {
  grid-template-columns: auto auto;
  grid-gap: 10px;
  justify-content: center;
}

.hd-wrap .header-form .headerForm span {
  font-family: AGForeignerRomanMedium, sans-serif;
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  align-self: center;
  justify-self: end;
  text-shadow: 0px -1px 2px #00455f;
}

.hd-wrap .header-form .headerForm input, .hd-wrap .header-form .headerForm select, .hd-wrap .header-form .headerForm textarea {
  width: 170px;
  height: 30px;
  outline: none;
  padding: 0 5px;
  border: 3px solid #a7d1e6;
  border-radius: 7px;
  font-family: AGForeignerRomanMedium, sans-serif;
  font-size: 17px;
  color: #37a5ce;
}

.hd-wrap .header-form .headerForm textarea {
  height: 60px;
  resize: none;
  padding-top: 5px;
}

.hd-wrap .header-form .headerForm .form-ladder {
  margin-top: -10px;
}

.hd-wrap .header-form .headerForm .bottom-o {
  align-self: start;
  justify-self: end;
  z-index: 1;
}

.bottom-o {
  border: none;
  background: #f2e709;
  border-radius: 7px;
  padding: 8px 25px;
  color: #64affc;
  font-family: AGLettericaBoldBold, sans-serif;
  font-size: 15px;
  text-align: center;
  cursor: pointer;
  display: block;
  outline: none;
  transition: color 0.3s ease;
}

.bottom-o:hover {
  color: #fff !important;
}

.bottom-o:active {
  box-shadow: inset 0 0 3px 0px black;
}

.cloud2 {
  background-image: url(../img/cloud2.png);
  height: 560px;
  background-repeat: no-repeat;
  background-size: inherit;
  margin-top: -215px;
}

.cloud1 {
  height: 494px;
  align-items: end;
  background-image: url(../img/cloud1.png);
  margin-top: -494px;
  z-index: 9;
  opacity: 0.99;
}

.cloud1 .container {
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding-left: 30px;
}

.cloud1 .container .specialOffers {
  margin-right: 85px;
}

.cloud1 .container .specialOffers .specialOffers-item {
  grid-template-columns: repeat(3, auto);
  align-content: end;
  align-items: center;
  grid-gap: 10px;
  padding: 20px 0;
}

.cloud1 .container .specialOffers .specialOffers-item:nth-child(1) {
  border-bottom: 1px dashed #fff;
}

.cloud1 .container .specialOffers .specialOffers-item h3 {
  grid-column: 1/4;
  font-family: ABodoniNovaNrItalic, sans-serif;
  font-size: 29px;
  font-weight: 400;
  margin: 0;
}

.cloud1 .container .specialOffers .specialOffers-item .specialOffers-txt {
  grid-column: 2/4;
}

.cloud1 .container .specialOffers .specialOffers-item .specialOffers-txt h4 {
  font-family: ColabMed, sans-serif;
  font-weight: 400;
  font-size: 17px;
  margin: 0;
}

.cloud1 .container .specialOffers .specialOffers-item .specialOffers-txt p {
  font-family: ColabThi, sans-serif;
  font-size: 15px;
}

.cloud1 .container .specialOffers .specialOffers-item .price {
  grid-column: 1/3;
  font-family: AGBenguiatCyrBook, sans-serif;
  font-size: 27px;
  justify-self: end;
}

.cloud1 .container .specialOffers .specialOffers-item .bottom-o {
  padding: 5px 11px;
}

.toursInfo {
  align-content: end;
  padding-bottom: 30px;
  width: 506px;
  height: 343px;
}

.toursInfo-button {
  grid-template-columns: max-content max-content auto;
  column-gap: 5px;
  align-items: end;
}

.toursInfo-button input {
  display: none;
}

.toursInfo-button input:checked + label {
  color: #299FCA;
  background-color: #81FFFF;
}

.toursInfo-button input:nth-of-type(1):checked ~ .tab:nth-of-type(1),
.toursInfo-button input:nth-of-type(2):checked ~ .tab:nth-of-type(2) {
  display: block;
}

.toursInfo-button label {
  display: block;
  text-transform: uppercase;
  text-align: center;
  width: 115px;
  height: 30px;
  font-family: AGSouvenir, sans-serif;
  font-size: 15px;
  line-height: 32px;
  border: none;
  border-radius: 7px 7px 0 0;
  background-color: #299FCA;
  color: #81FFFF;
  outline: none;
  cursor: pointer;
}

.toursInfo-button-specialImg {
  justify-self: end;
  margin-bottom: -1px;
  z-index: 1;
}

.toursInfo-list {
  grid-column: 1/4;
  border-top: 1px solid #81FFFF;
  padding-top: 20px;
}

.toursInfo-list .toursInfo-list-ul {
  grid-template-columns: repeat(4, max-content);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  align-content: baseline;
}

.toursInfo-list .toursInfo-list-ul li:not([class]) {
  font-family: ColabThi, sans-serif;
  font-size: 16px;
}

.toursInfo-list .toursInfo-list-ul .toursInfo-list-img {
  color: #80FEFF;
  font-size: 12px;
  padding-left: 5px;
}

.toursInfo-list .toursInfo-list-ul .toursInfo-list-days {
  padding-right: 45px;
  font-family: ColabThi, sans-serif;
  font-size: 16px;
}

.toursInfo-list-details {
  transition: border .3s ease;
}

.toursInfo-list-details:hover {
  border-bottom: 1px solid #fff;
  color: #f1e50c;
}

.tab {
  display: none;
}

.tab .toursInfo-tab2-img {
  height: 198px;
  display: block;
  margin: 0 auto;
  border: 5px solid #81fefe;
  border-radius: 7px;
}

.touristMap {
  background-color: #D6E6EF;
  font-family: ag_letterica_bold, sans-serif;
  text-align: center;
  padding-bottom: 40px;
  position: relative;
}

.touristMap h3 {
  font-size: 27px;
  color: #4690B4;
  padding-top: 15px;
}

.touristMap p {
  font-size: 17px;
  color: #6AB5D0;
  margin-bottom: 10px;
}

.touristMap-img {
  display: block;
  margin: 0 auto;
}

.touristMap-info {
  position: absolute;
  top: 185px;
  left: 300px;
  background-image: url(../img/info_bg.png);
  width: 357px;
  height: 279px;
}

.touristMap-info-wrap {
  max-width: 250px;
  padding: 20px 0px 0 13px;
  align-content: baseline;
}

.touristMap-info-item {
  grid-template-columns: repeat(2, auto);
  column-gap: 8px;
  text-align: left;
  margin-bottom: 5px;
}

.touristMap-info-item img {
  grid-row: 1/3;
}

.touristMap-info-item h4 {
  font-family: ColabMed, sans-serif;
  font-size: 17px;
  color: #A4A4A4;
  font-weight: 100;
  align-self: end;
}

.touristMap-info-item p {
  font-family: ColabThi, sans-serif;
  font-size: 14px;
  color: #A4A4A4;
  font-weight: 100;
  margin: 0;
}

.touristMap-info h3 {
  padding: 0;
  font-family: ColabThi, sans-serif;
  font-size: 23px;
  color: #7D7D7D;
}

.footer {
  background-image: url(../img/footerbg.png);
  font-family: colaborate-regular, sans-serif;
}

.footer h4 {
  font-size: 25px;
  font-weight: 100;
  text-shadow: #064b73 0 2px 1px;
}

.footer p {
  font-family: ColabThi, sans-serif;
  font-size: 16px;
}

.footer input, .footer textarea {
  background-color: #0F6686;
  padding: 0 10px;
  width: 199px;
  height: 37px;
  border-radius: 7px;
  outline: none;
  color: #fff;
  font-family: ColabThi, sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.footer input:focus, .footer textarea:focus {
  background-color: #79bbd5;
}

.footer input::placeholder, .footer textarea::placeholder {
  color: #5E98AE;
}

.footer .bottom-o {
  width: 91px;
  height: 37px;
  padding: 0;
  color: #1380A7;
  background-color: #D6E6EF;
  font-family: colaborate-regular, sans-serif;
  font-size: 16px;
  font-weight: 100;
}

.footer .container {
  grid-template-columns: repeat(3, 1fr);
  align-items: baseline;
}

.social {
  justify-items: left;
}

.follow {
  grid-template-columns: auto auto;
  grid-gap: 10px;
  margin: 20px 0 30px 0;
}

.follow h4 {
  grid-column: 1/3;
}

.socialLink {
  grid-template-columns: auto auto auto;
  justify-content: start;
  grid-gap: 10px;
}

.socialLink h4 {
  grid-column: 1/4;
}

.socialLink a {
  display: block;
  text-decoration: none;
  width: 39px;
  height: 39px;
  background-color: #3BB3DE;
  border-radius: 50%;
}

.socialLink img {
  display: block;
  margin: auto;
  padding-top: 7px;
}

.socialLink-twitter:hover {
  background-color: #00acee;
  box-shadow: 0 0 15px #00acee;
}

.socialLink-facebook:hover {
  background-color: #3b5998;
  box-shadow: 0 0 15px #3b5998;
}

.socialLink-in:hover {
  background-color: #0e76a8;
  box-shadow: 0 0 15px #fff;
}

.contact {
  margin-top: 20px;
  grid-gap: 15px;
  justify-content: center;
}

.feeback {
  margin-top: 20px;
  grid-gap: 10px;
  justify-content: end;
}

.feeback textarea {
  padding-top: 10px;
  width: 290px;
  height: 63px;
  resize: none;
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.feeback .bottom-o {
  justify-self: end;
}

.copyright {
  grid-column: 1/4;
  grid-template-columns: max-content max-content;
  justify-content: center;
  column-gap: 25px;
  padding-bottom: 10px;
}

.copyright .copy {
  font-size: 16px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .header-navbar .container {
    background-size: 95%;
    background-position-x: center;
  }
  .header-navbar .container menu {
    grid-gap: inherit !important;
    padding-left: 125px !important;
    padding-top: 10px !important;
  }
  .hd-wrap {
    grid-template-columns: 50% 50%;
  }
  .hd-wrap .header-baner {
    justify-items: center;
    align-items: center;
  }
  .hd-wrap .header-baner img {
    max-width: 95%;
    height: 50%;
  }
  .hd-wrap .header-baner .baner-info {
    top: -240px;
    left: 50px;
    width: 100%;
  }
  .hd-wrap .header-baner .baner-info .text-slider {
    width: 75% !important;
  }
  .hd-wrap .header-baner .baner-info .text-slider h2 {
    font-size: 40px !important;
  }
  .hd-wrap .header-baner .baner-info .text-slider p {
    font-size: 20px !important;
  }
  .hd-wrap .header-baner .slide-arrow {
    display: none;
  }
  .cloud1 .container {
    grid-template-columns: 34% 1fr;
    padding-left: inherit;
  }
  .cloud1 .container .specialOffers {
    align-content: end;
    margin-right: inherit;
  }
  .cloud1 .container .specialOffers .specialOffers-item {
    grid-gap: 5px;
    padding: inherit;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  .toursInfo {
    width: 100%;
    justify-self: end;
  }
  .toursInfo .toursInfo-button {
    padding: 0 10px;
  }
  .toursInfo .toursInfo-button .toursInfo-list-ul {
    justify-content: space-around;
  }
  .toursInfo .toursInfo-button .toursInfo-list-ul .toursInfo-list-img {
    padding-left: inherit !important;
  }
  .toursInfo .toursInfo-button .toursInfo-list-ul .toursInfo-list-days {
    padding-right: inherit !important;
  }
  .touristMap-img {
    width: 90%;
  }
  .footer {
    background-size: cover;
  }
  .footer p {
    display: inline-block;
  }
  .footer .container {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  .footer .container .contact {
    order: -1;
    grid-column: 1/3;
  }
  .footer .container .copyright {
    grid-column: 1/3;
  }
}
/*# sourceMappingURL=style.css.map */