*, ::after, ::before {
  box-sizing: border-box;
}

@font-face {
  font-family: 'AGLettericaBoldBold';
  src: url("../fonts/ag_letterica_bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AGSouvenir';
  src: url("../fonts/agsouvenir_regular.ttf") format("truetype");
}

@font-face {
  font-family: 'AGForeignerRomanMedium';
  src: url("../fonts/AGForeignerRomanMedium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 16px;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.grid {
  display: grid;
}

a {
  text-decoration: none;
  color: #fff;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

header {
  background-image: url(../img/bg-body.png);
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
}

header .header-navbar .container {
  height: 125px;
  display: flex;
  justify-content: flex-end;
  background-image: url(../img/bg-hd-top.png);
  background-repeat: no-repeat;
  background-position: center;
}

header .header-navbar .container menu {
  padding-right: 70px;
  margin: 0;
}

header .header-navbar .container menu a {
  margin-right: 60px;
  font-family: AGSouvenir, sans-serif;
  font-size: 17px;
  line-height: 58px;
}

.hd-wrap {
  grid-template-columns: auto 320px;
}

.hd-wrap .header-baner {
  justify-items: center;
  align-items: end;
}

.hd-wrap .header-form {
  position: relative;
  align-items: center;
  border: 6px solid #a7d1e6;
  border-radius: 20px;
  background: #299fca;
  margin-top: -40px;
  padding-top: 100px;
}

.hd-wrap .header-form .decor-line {
  position: absolute;
  top: 25px;
  left: -20px;
  background-image: url(../img/online.png);
  width: 227px;
  height: 40px;
  text-align: center;
}

.hd-wrap .header-form .decor-line span {
  line-height: 40px;
  font-family: AGLettericaBoldBold, sans-serif;
  font-size: 21px;
  color: #ffffff;
}

.hd-wrap .header-form .headerForm {
  grid-template-columns: auto auto;
  grid-gap: 10px;
  justify-content: center;
}

.hd-wrap .header-form .headerForm span {
  font-family: AGForeignerRomanMedium, sans-serif;
  font-size: 17px;
  color: #ffffff;
  font-weight: bold;
  align-self: center;
  justify-self: end;
  text-shadow: 0px -1px 2px #00455f;
}

.hd-wrap .header-form .headerForm input, .hd-wrap .header-form .headerForm select, .hd-wrap .header-form .headerForm textarea {
  width: 170px;
  height: 30px;
  outline: none;
  padding: 0 10px;
  border: 3px solid #a7d1e6;
  border-radius: 7px;
  font-family: AGForeignerRomanMedium, sans-serif;
  font-size: 17px;
  color: #37a5ce;
}

.hd-wrap .header-form .headerForm textarea {
  height: 60px;
  resize: none;
}

.hd-wrap .header-form .headerForm .form-ladder {
  margin-top: -10px;
}

.bottom-o {
  justify-self: end;
  border: none;
  background: #f2e709;
  border-radius: 7px;
  height: 33px;
  width: 100px;
  color: #64affc;
  font-family: AGLettericaBoldBold, sans-serif;
  font-size: 15px;
  cursor: pointer;
  display: block;
}

.cloud2 {
  background-image: url(../img/cloud2.png);
  height: 560px;
  background-repeat: no-repeat;
  background-size: inherit;
  margin-top: -190px;
}
/*# sourceMappingURL=style.css.map */