@font-face {
    font-family: 'AGLettericaBoldBold';
    src: url('../fonts/ag_letterica_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AGSouvenir';
    src: url('../fonts/agsouvenir_regular.ttf') format('truetype');
}

@font-face {
    font-family: 'AGForeignerRomanMedium';
    src: url('../fonts/AGForeignerRomanMedium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}