// /*
//   ##Device = Desktops
//   ##Screen = 1281px to higher resolution desktops
// */

@media (min-width: 1281px)
  //CSS

// /*
//   ##Device = Laptops, Desktops
//   ##Screen = B/w 1025px to 1280px
// */

@media (min-width: 1025px) and (max-width: 1280px)
  //CSS

// /*
//   ##Device = Tablets, Ipads (portrait)
//   ##Screen = B/w 768px to 1024px
// */

@media only screen and (max-width: 1024px)
    .header-navbar
        .container
            background-size: 95%
            background-position-x: center
            .menu
                grid-gap: inherit !important
                padding-left: 125px !important
                padding-top: 10px !important
    .hd-wrap
        grid-template-columns: 60% 1fr
        padding: 0 20px
        column-gap: 10px
        .header-baner
            align-items: center
            img
            .baner-info
                top: -240px
                // left: 80px
                width: 315px
                .text-slider
                    width: 75% !important
                    h2
                        font-size: 40px !important
                    p
                        font-size: 20px !important
            .slide-arrow
                display: none
        .header-form
            width: 290px
            padding-left: 10px
            padding-right: 10px
    .cloud1
        .container
            padding-left: 10px
            .specialOffers
                align-content: end
                margin-right: 0
                .specialOffers-item
                    grid-gap: 5px
                    padding: inherit
                    padding-bottom: 10px

    .toursInfo
        justify-self: end
        .toursInfo-button
            padding: 0 10px
            .toursInfo-list-ul
                justify-content: space-around
                .toursInfo-list-img
                    padding-left: inherit !important
                .toursInfo-list-days
                    padding-right: inherit !important

    .touristMap-img
        width: 90%

    .footer
        background-size: cover
        p
            display: inline-block
        .container
            grid-template-columns: 1fr 1fr
            grid-gap: 30px
            justify-items: baseline
            .social
                grid-column: 1/3
                grid-template-columns: 1fr 1fr
                align-items: center
                column-gap: 45px
                .follow
                    margin: inherit
                    input
                        width: inherit
                        max-width: 199px
            .contact
                order: -1
            .feeback
                order: -1
                margin-top: 0
            .copyright
                grid-column: 1/3

// /*
//   ##Device = Tablets, Ipads (landscape)
//   ##Screen = B/w 768px to 1024px
// */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape)
  //CSS

// /*
//   ##Device = Low Resolution Tablets, Mobiles (Landscape)
//   ##Screen = B/w 481px to 767px
// */

@media only screen and (max-width: 767px)
    header
        background-size: initial
        .cloud2
            background-size: auto
            background-position: right
            margin-top: -270px
        .header-navbar
            .container
                height: 95px
                background-size: cover
                background-position: initial
                #mobile-menu
                    &:checked + menu .menu
                        display: grid
                    &:checked + menu label::after
                        content: attr(data-close)
                        background: #e1ecf2
                        box-shadow: inset 0 0 4px 0px #127ea5
                        transition: .3s
                menu
                    width: 100%
                    justify-items: center !important
                    label
                        display: block
                        margin-top: 9px
                        text-align: center
                        font-family: colaborate-regular, sans-serif
                        font-weight: bold
                        color: #127ea5
                        &::after
                            content: attr(data-open)
                            display: block
                            border: 3px solid #a7d1e6
                            border-radius: 7px
                            background: #fff
                            padding: 5px 8px
                    .menu
                        display: none
                        background: #4cb2e7
                        position: relative
                        top: 50px
                        padding: 0 !important
                        justify-items: stretch
                        grid-template-columns: 1fr
                        width: 98%
                        text-align: center
                        border-radius: 7px
                        border: 7px solid #7ebee0
                        z-index: 1
                        li
                            border-radius: unset
                            padding: 15px 0px


    .hd-wrap
        grid-template-columns: 1fr
        justify-items: center
        row-gap: 20px
        .header-baner
            .baner-info
                top: -135px
                // left: 120px
        .header-form
            margin: 0
            width: 90%
            .headerForm
                grid-template-columns: auto 1fr
                textarea
                    z-index: 1
                input, select, textarea
                    width: 100%

    .cloud1
        height: auto
        background-size: cover
        background-position: center
        margin-top: -530px
        .container
            grid-template-columns: 1fr
            padding-top: 230px
            padding-right: 10px
            justify-items: center
            row-gap: 20px
            .specialOffers
                .specialOffers-item
                    grid-gap: 10px
                    padding: 20px 0

    .footer
        .container
            grid-template-columns: 1fr
            justify-items: center
            text-align: center
            .social
                grid-column: inherit
                grid-template-columns: 1fr
                grid-gap: 30px
                justify-items: center
            .copyright
                grid-column: inherit
                grid-template-columns: 1fr
            .feeback
                justify-items: center
                .bottom-o
                    width: 100%

    .touristMap-info
        display: none

    .toursInfo
        justify-self: inherit
        width: inherit
        max-width: 460px
        .toursInfo-button
            padding: 0

// /*
//   ##Device = Most of the Smartphones Mobiles (Portrait)
//   ##Screen = B/w 320px to 479px
// */

@media only screen and (max-width: 480px)
    .hd-wrap
        padding: 0
        .header-baner
            overflow: hidden
        .header-form
            width: 95%
        .header-baner
            .baner-info
                top: -102px
                // left: 12px
                #text_slide1, #text_slide2
                    text-align: right
                .text-slider
                    h2
                        font-size: 32px !important
                    p
                        font-size: 17px !important
    menu
        justify-items: start !important
        label
            margin-left: 235px

    .toursInfo
        display: none

    .cloud1
        margin-top: -450px
        .container
            padding-top: 150px


    .footer
        .container
            .copyright
                p
                    font-size: 12px
