@import 'grid'
@import 'fonts'

.grid
    display: grid
a
    text-decoration: none
    color: #fff
nav

    .container
        width: 1024px
        height: 125px
        margin: 0 auto
        display: flex
        justify-content: flex-end
        background-image: url(../img/bg-hd-top.png)
        background-repeat: no-repeat
        background-position: center
        menu
            padding-right: 70px
            a
                margin-right: 60px
                font-family: AGSouvenir, sans-serif
                font-size: 17px
                line-height: 58px